.sparecent {
   float: left;
   font-family: 'Milkshake';
   src: url('Milkshake.otf') format('opentype');
}
.sign-out-button{
    float: right;
}
.total{
    margin-top: 20px;
}
.total-and-donate{
    padding-top: 150px;
    padding-bottom: 150px;
    display:flex;
    justify-content:center;
    align-items:center;
}
